<div class="container first-container">


    <div class="row">
        <div class="col">
            {{{meta.id}}} {{{meta.name}}} {{{meta.slug}}} {{{meta.html}}}{{{meta.dateDescription}}}
            <img src="{{{meta.featureImage}}}" alt="" />
        </div>
    </div>





</div>